// Color
$black: #444444;
$white: #ffffff;
$accent: #7ac143;
$accent-hover: #008b44;
$grey: #e5e5e5;

// Breakpoints
$phone-width: 320px;
$tablet-width: 768px;
$desktop-width-sm: 1024px;
$desktop-width: 1200px;
$desktop-width-lg: 1300px;

$transition: all .3s;
